.board-scroll-container {
    position: relative;
    height: 100%;
    overflow: visible;
  }
  
  .todo-board-wrapper {
    top: 8vh;
    margin-left: -5px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    padding: 0;
    height: 80vh;
    z-index: 8;
  }
  
  .todo-board {
    display: inline-flex;
    width: max-content;
    gap: 0.4vw;
    padding: 0.5vw 0.5vw 0.5vw;
    background-color: transparent;
    height: 100%;
  }
  
  .category-box {
    flex: 0 0 auto;
    width: 20vw;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1vw;
    background-color: #D9D9D9;
    border-radius: 0.6vw;
    font-weight: 500;
    font-size: 1vw;
    color: #898787;
    transition: transform 0.2s ease;
    z-index: 10;
    font-family: sans-serif;
  }
  
  .category-title {
    margin-bottom: 1.5vw;
    font-size: 1.1vw;
    font-weight: bold;
    color: #000000;
    text-align: center;
  }
  
  .todo-list {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
    padding: 0.5vw 0;
    overflow-y: auto;
  }
  
.add-todo-btn {
  margin: 0.5vw 0;
  align-self: center;
  padding: 0.2vw 0.6vw;
  font-size: 1.5vw;
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  transition: color 0.2s;
  outline: none;   
  font-size: 1.8vw;        
}

.add-todo-btn:hover {
  color: #555;
  font-size: 1.9vw; 
}

.add-todo-btn:focus,
.add-todo-btn:active {
  outline: none;             /* 포커스/활성화 상태 모두 제거 */
  box-shadow: none;
}
  
  @media (max-width: 1024px) {
    .todo-board {
      left: 12vw;
      right: 0.01vw;
      top: 9vw;
      gap: 1vw;
      padding: 2.5vw;
    }
     .todo-board-wrapper {
      margin-left: -20px;
      margin-top: -15px;
    }
    .category-box{
      width: 25vw;   
    }
    .category-title {
      font-size: 1.4vw;
    }
    .add-todo-btn { 
    font-size: 2vw;        
  }
    .empty-todo-message{
    font-size: 1.3vw;
    }
  }

    @media (max-width: 900px) {
    .category-box{
      width: 28vw;   
    }
     .category-title {
      font-size: 1.4vw;
    }
    .add-todo-btn { 
    font-size: 2vw;        
  }
    .empty-todo-message{
    font-size: 1.3vw;
    }
  }
  
  @media (max-width: 768px) {
    .todo-board {
      left: 14vw;
      right: 0.01vw;
      top: 11vw;
      gap: 1vw;
      padding: 3vw;
    }
    .category-box{
      width: 30vw;   
    }
      .category-title {
    font-size: 2vw;
  }
  .add-todo-btn { 
    font-size: 2.5vw;        
  }
  .empty-todo-message{
   font-size: 1.7vw;
   margin-top: 10px;
  }
  }

   @media (max-width: 690px) {
    .category-box{
      width: 33vw;   
    }
     .category-title {
    font-size: 2vw;
  }
  .add-todo-btn { 
    font-size: 2.5vw;        
  }
  .empty-todo-message{
   font-size: 1.7vw;
   margin-top: 10px;
  }
  }
