/* TodoCard.css */
.todo-card {
    width: 14.6vw;
    flex-grow: 1;
    background: #fff;
    border-radius: 0.3vw;
    padding: 1vw;
    padding-bottom: 2.5vw;
    font-size: 0.8vw;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.2s;
    position:relative;
  }
  
  .todo-card:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  .todo-row {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.6vw;
    margin-bottom: 0.8vw;
    width: 100%;
    box-sizing: border-box;
  }
  
  .todo-checkbox {
    transform: scale(1.2);
    cursor: pointer;
    flex-shrink: 0;
    margin-top: 0.2vw;
    margin-left: 0.2vw;
  }
  
  .todo-checkbox:focus {
    outline:none;
    box-shadow: none;
  }
  
  .todo-card.done {
    background: #fff;
    opacity: 0.6;
    color: inherit;
    text-decoration: line-through;
  }
  
  .todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .todo-title {
    font-size: 1vw;
    color: #333;
    font-weight: bold;
  }
  
  .todo-date,
  .todo-content
   {
    font-size: 0.8vw;
    color: #979696;
    font-weight: bold;
  }
  
  .todo-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  
  .card-controls {
    position: absolute;
    right: 0.8vw;
    bottom: 0.3vw;
    display: flex;
    gap: 0.5vw;
    align-items:center;
  }
  
  .icon-button {
    background: none;
    border: none;
    padding: 2px;
    cursor: pointer;
    font-size: 1;
  
  }
  
  .icon-button:hover{
    opacity: 0.2;
  }

  @media (max-width: 1024px) {
    .todo-card {
      width: 18vw;
      height: 10vh;
    }

    .todo-title {
      font-size: 1.2vw;
    }
  
  .todo-date,
  .todo-content
   {
    font-size: 1vw;
  }
}

 @media (max-width: 768px) {
    .todo-card {
      width: 22vw;
      height: 10vh;
      border-radius: 4px;
    }
    .todo-title {
      font-size: 1.7vw;
    }
  .todo-date,
  .todo-content
   {
    font-size: 1.3vw;
  }
}


 @media (max-width: 680px) {
    .todo-card {
      width: 24vw;
      height: 10vh;
      border-radius: 4px;
    }
    .todo-title {
      font-size: 1.8vw;
    }
  .todo-date,
  .todo-content
   {
    font-size: 1.5vw;
  }
}