.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .image-popup {
    background: #fff;
    border-radius: 8px;
    padding: 24px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    position: relative;
  }

  .upload-btn{
   background: #6873b7;
   color: #fff;
   padding:0.4vw 0.6vw;
  }
  
    .upload-btn:hover{
      background: #5a639e;
    }

  .close-btn {
    position: absolute;
    top: 5px;
    right: 0px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .close-btn:hover{
    color:gray
  }
  
  .preview-img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 16px auto;
    border-radius: 50%;
    object-fit: cover;
  }
  
  button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }